<nav class="navbar navbar-inverse navbar-dark bg-dark fixed-bottom">
    <div class="container-fluid">
        <a title="Colin Viebrock, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Opensource.svg"><img width="24" alt="Opensource" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Opensource.svg/256px-Opensource.svg.png">&copy; 2021. Deeptesh Bhattacharcharya. </a><span class="text-primary">&copy; License Copyright: Copyright © 2007 Free Software Foundation, Inc.
            License License: "Everyone is permitted to copy and distribute verbatim copies of this license document, but changing it is not allowed." (www.gnu.org/licenses/gpl-3.0.en.html).
            License Contact: Free Software Foundation (fsf.org). All rights reserved with the publisher.</span>
    </div>
  </nav>